{% extends 'twitter/main_base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
    {% if form %}
        <div class="integrations">
            <div class="active-accounts">
                <button class="social-accounts" disabled>
                    {% if name == "No integrations set" %}
                        {{ name }}
                    {% else %}
                        <i class="gg-twitter"></i>
                        {{ name }}
                    {% endif %}
                </button>
            </div>
            <div class="integrations-bottom">
                <a href="{% url 'integrations' %}">
                    <button class="social-accounts">
                        {% if name == "No integrations set" %}
                            Add an Integration
                        {% else %}
                            Re-authorize
                    {% endif %}
                    </button>
                </a>
            </div>
        </div>
        <div class="main-area">
            <nav class="nav-bar">
                    <a class="nav-item active" href="#">Queue</a>
                    <a class="nav-item" href="{% url 'history' %}">History</a>
            </nav>
            <div class="post-wrapper" id="app">
                <form class="create-post" id="create-post" method="post" action="{% url 'dashboard' %}">
                    {% csrf_token %}
                    <textarea v-model="createData" name="content" cols="30" rows="3" maxlength="280" required="required"
                              id="id_content" placeholder="What's on your mind?"></textarea>
                    <div class="button-cover">
                        <div class="count">Remaining: [[ characterCount ]]</div>
                        <button v-on:click.prevent="createPost" :disabled="checkContent" class="btn btn-create" type="submit">Add Post</button>
                    </div>
                </form>
                <div class="pending-posts" v-if="tweets.length != 0">
                    <h3> Pending Posts </h3>
                    <div class="post-container" v-for="tweet in tweets">
                        <textarea :id=tweet.id form="create-post" rows="3" cols="30" maxlength="280" disabled>[[ tweet.content ]]</textarea>
                        <div class="button-cover">
                            <a v-bind:href=" regUrl + 'posts/' + tweet.id + '/edit/'">
                                <button class="btn btn-edit">Edit</button>
                            </a>
                            <!-- <a v-bind:href="baseUrl + '/' + tweet.id"> -->
                                <button v-on:click.prevent="deletePost(tweet.id)" class="btn btn-delete" type="submit" value="delete">
                                    Delete
                                </button>
                            <!-- </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar"></div>
    {% else %}
        <div class="get-started-wrapper">
            <div class="get-started-container">
                <img src="{% static 'img/Twitter-logo.png' %}" width="400" height="400">
                <div class="get-started">
                    <a href="{% url 'integrations' %}">
                        <button class="add-first-account">
                            Connect your Twitter account
                        </button>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <script>
        var app = new Vue({
            delimiters: ['[[',']]'],
            el: '#app',
            data: {
                tweets: [],
                createData: "",
                regUrl: 'https://tweetscheduler.herokuapp.com/',
            },
            mounted: function() {
                axios.get("{% url 'post_list_view' %}")
                .then(response => (this.tweets = response.data))
                .catch(function(error){
                    console.log(error)
                })
            },
            methods: {
                getPosts: function(){
                    axios.get("{% url 'post_list_view' %}")
                    .then(response => (this.tweets = response.data))
                    .catch(function(error){
                        alert(error.status + ": " + error.data.content);
                })
                },
                createPost: function(){
                    axios.defaults.xsrfCookieName = 'csrftoken';
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                    axios.post("{% url 'post_list_view' %}", {
                        "content": this.createData
                    }).then(response => {
                        this.getPosts()
                        // this.tweets.push(response.data)
                        this.createData = "";
                        console.log("success");
                    }).catch((err) => {
                        alert(err.status + ": " + err.data.content);
                    });
                },
                deletePost: function(id){
                    if(confirm("Do you want to delete this post?")){
                        axios.defaults.xsrfCookieName = 'csrftoken';
                        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                        axios.delete("{% url 'post_list_view' %}" + "/" + id
                        ).then(response => {
                            console.log(response);
                            this.getPosts();
                        }).catch((err) => {
                            alert(err.status + ": " + err.data.content);
                        })
                    }
                }
            },
            computed: {
                characterCount: function(){
                    var clen = this.createData.length;
                    if(clen < 280){
                        return (280 - clen);
                    }
                    else{
                        return 0;
                    }
                },
                checkContent: function(){
                    console.log(this.createData.length);
                    if (this.createData.length == 0){
                        return true;
                    }else{
                        return false;
                    }
                }
            }
        });
    </script>
{% endblock body %}