{% extends 'twitter/main_base.html' %}
{% load static %}
{% block title %}Edit{% endblock title %}
{% block body %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<div class="integrations">
    <div class="active-accounts">
        <button class="social-accounts" disabled>
            {% if name == "No integrations set" %}
                {{ name }}
            {% else %}
                <i class="gg-twitter"></i>
                {{ name }}
            {% endif %}
        </button>
    </div>
    <div class="integrations-bottom">
        <a href="{% url 'integrations' %}">
            <button class="social-accounts">
                {% if name == "No integrations set" %}
                    Add an Integration
                {% else %}
                    Re-authorize
            {% endif %}
            </button>
        </a>
    </div>
</div>
<div class="main-area">
    <nav class="nav-bar">
            <a class="nav-item active" href="#">Edit</a>
    </nav>
    <div class="post-wrapper" id="app">
        <form class="create-post" id="edit-post" method="post" action="">
            {% csrf_token %}
            <textarea v-model="editData" name="content" cols="30" rows="3" maxlength="280" required="required" id="id_content">
                {{ form.content.value }}
            </textarea>
            {% if form.errors %}
                {% for field in form %}
                <div class="alert">{{ field.errors | join:" " }}</div>
                {% endfor %}
            {% endif %}
            <div class="button-cover">
                <div class="count">Remaining: [[ characterCount ]]</div>
                <div>
                    <button v-on:click.prevent="editPost" class="btn btn-edit" type="submit">Save</button>
                    <a href="{% url 'dashboard' %}">
                        <button type="button" class="btn btn-edit">Cancel</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            editData: '{{ form.content.value }}',
            putUrl: 'http://127.0.0.1:8000/api/v1/posts/' + '{{ id }}'
        },
        methods: {
            editPost: function(){
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                axios.put(this.putUrl, {
                    "content": this.editData
                }).then(response => {
                    console.log(response);
                    window.location = '/dashboard';
                    // alert("Success");
                }).catch(err => {
                    console.log(err);
                });
            }
        },
        computed: {
            characterCount: function(){
                var clen = this.editData.length;
                if(clen < 280){
                    return (280 - clen);
                }
                else{
                    return 0;
                }
            }
        }    
    });
</script>
{% endblock body %}
