{% extends 'twitter/main_base.html' %}
{% load static %}
{% block title %}History{% endblock title %}
{% block body %}
<div class="integrations">
    <div class="active-accounts">
        <button class="social-accounts" disabled>
            {% if name == "No integrations set" %}
                {{ name }}
            {% else %}
                <i class="gg-twitter"></i>
                {{ name }}
            {% endif %}
        </button>
    </div>
    <div class="integrations-bottom">
        <a href="{% url 'integrations' %}">
            <button class="social-accounts">
                {% if name == "No integrations set" %}
                    Add an Integration
                {% else %}
                    Re-authorize
                {% endif %}
            </button>
        </a>
    </div>
</div>
<div class="main-area">
    <nav class="nav-bar">
        <a class="nav-item" href="{% url 'dashboard' %}">Queue</a>
        <a class="nav-item active" href="#">History</a>
    </nav>
    <div class="post-wrapper">
    <table>
        <tr>
            <th>No</th>
            <th>Content</th>
            <th>Posted time</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td></td>
            <td>{{ post.content }}</td>
            <td>{{ post.posted_time }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock body %}
