{% extends 'registration/password_base.html' %}
{% block title %}
Success
{% endblock title %}
{% block body %}
<div class="forgot-password">
    <h1> Thank you! </h1>
    <p> If you are an existing user, you would receive an email shortly with the password reset link :) </p>
    <div class="login-form-filler"></div>
    <div class="links success">
        <p><a href="{% url 'login' %}">Click here</a> to go to login</p>
    </div>
</div>
{% endblock body %}

{% block footer %}
Almost there!
{% endblock footer %}