{% extends 'registration/password_base.html' %}
{% block title %}
Forgot password
{% endblock title %}
{% block body %}
<form class="forgot-password" action="" method="POST">
    {% csrf_token %}
    <h1> Forgot your password?</h1>
    <p> Nothing to worry! Enter your email address below and hit "Send Email" and we'll mail
    you a link to reset your password.</p>
    <div class="login-form-filler"></div>
    <input class="text-input" type="email" name="email" autocomplete="off" required>
    <button type="submit" class="btn" value="Send_email">Send Email</button>
    {% if form.errors %}
        {% for field in form %}
                <div class="alert-forgot-password">{{ field.errors | join:" " }}</div>
        {% endfor %}
    {% endif %}
    <div class="links">
        <a href="{% url 'login' %}">Wanna go back to login?</a>
    </div>
</form>
{% endblock body %}

{% block footer %}
Just a step away!
{% endblock footer %}