{% extends 'registration/password_base.html' %}

{% block title %}
Reset Password
{% endblock title %}

{% block body %}
<form class="password-confirm" action="" method="POST">
    {% if validlink %}
    {% csrf_token %}
    <h1> Reset your password</h1>
    <div class="login-form-filler"></div>
        <label for="id_new_password1">Enter Password</label>
        <input class="confirm" type="password" id="id_new_password1" name="new_password1">
        <label for="id_new_password2">Confirm Password</label>
        <input class="confirm" type="password" id="id_new_password2" name="new_password2">
    {% if form.errors %}
        {% for field in form %}
                <div class="alert">{{ field.errors | join:" " }}</div>
        {% endfor %}
    {% endif %}
    <button type="submit" class="btn confirm" value="change_password">Change Password</button>
    {% else %}
    <h3 class="invalid-link"> Oops! Seems like the link expired. Please request a new one</h3>
    {% endif %}
</form>
{% endblock body %}

{% block footer %}
Remember to reset your password once in every 90 days
{% endblock footer %}