<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="/static/css/accounts_password.css">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Oswald:wght@500;700&family=Roboto:wght@400;700&family=Pacifico&&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="password-page-wrapper">
            <div class="sidebar-fp"></div>
            <div class="forgot-password-wrapper">
                <div class="app-name">Tweets Scheduler</div>
                {% block body %}
                {% endblock body %}
                <div class="footer">{% block footer %}{% endblock footer %}</div>
            </div>
            <div class="sidebar-fp"></div>
        </div>
    </body>
</html>
