html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding 0;
}

.password-page-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-wrapper{
    width: calc(100%/3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: #A8D0E6;
}

.app-name{
    width: 100%;
    text-align: center;
    padding: 16px 0;
    margin: 16px 0px;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}


.forgot-password{
    box-sizing: border-box;
    padding: 25px 20px;
    padding-bottom: 35px;
    background: #ddd;
    width: 100%;
}

.password-reset-complete{
    text-align: center;
}

.forgot-password h1{
    font-family: 'Oswald', sans-serif;
    padding: 0 0 0.5em 0;
}

.forgot-password p{
    padding: 0 0 1em 0;
}

.password-confirm{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    padding-bottom: 35px;
    background: #ddd;
}

.password-confirm label{
    color: black;
    width: 65%;
    font-weight: 400;
    font-size: 0.9em;
    text-align: left;
    margin-top: 1em;
}

.login-form-filler{
    height: 0.7em;
}

.text-input{
    box-sizing: box-border;
    border: 0;
    padding-left: 16px;
    border-radius: 5px;
    width: 70%;
    height: 2em;
}

.confirm{
    display: block;
    width: 65%;
    height: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #B8B8B8;
    border-radius: 5px;
    padding: 0 16px;
    box-sizing: border-box;
}

.alert{
    width: 100%;
    color: red;
    font-size: 0.9em;
    text-align: center;
}

.alert-forgot-password{
    width: 100%;
    color: red;
    font-size: 0.9em;
    text-align: left;
    padding-top: 1em;
}

.btn{
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    height: 2em;
    color: white;
    background: #5f19dd;
}

.btn.confirm{
    width: 65%;
    height: 2.5em;
}

.invalid-link{
    text-align: center;
}

.links{
    padding-top: 1em;
    font-size: 1em;
}

.links.success{
    padding: 0px;
}

.links a{
    color: black;
    font-weight: 400;
    text-decoration: none;
    transition: font-weight 10ms ease-in;
    color: #05386B;
}

.links.success a{
    color: #05386B;
    font-style: oblique;
}

a:hover{
    font-weight: 600;
}


.footer{
    padding: 16px 0;
    margin: 16px 0px;
}

.sidebar-fp{
    width: calc(100%/3);
    height: 100%;
    background: #191c28;
}